<ais-instantsearch [config]="config">
  <main class="search-container">
    <div class="left-panel">
      <ais-panel header="Categories" id="type">
        <ais-refinement-list attribute="type">
        </ais-refinement-list>
      </ais-panel>

    </div>
    <div class="right-panel">
      <ais-search-box placeholder="Search in your CRM" id="searchbox"></ais-search-box>
      <ais-stats id="stats">
        <ng-template let-state="state">
          ⚡️
          <strong>{{state.nbHits}}</strong> results found in
          <strong>{{state.processingTimeMS}}ms</strong>
        </ng-template>
      </ais-stats>
      <ais-hits [transformItems]="groupByType">
        <ng-template let-hits="hits" let-results="results">
          <!-- No results message -->
          <div *ngIf="hits.isEmpty">
            No results found matching
            <strong>{{results.query}}</strong>.
          </div>

          <div class="hit" *ngIf="hits['Contact']">
            <h2>Contacts</h2>
            <div class="table-responsive">
              <table>
                <tbody>
                  <tr>
                    <th>Name</th>
                    <th>Account</th>
                    <th>Email</th>
                  </tr>
                  <tr *ngFor="let hit of hits['Contact']">
                    <td>
                      <ais-highlight attribute="Name" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      <ais-highlight attribute="Account" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      <ais-highlight attribute="Email" [hit]="hit">
                      </ais-highlight>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="hit" *ngIf="hits['Opportunity']">
            <h2>Opportunities</h2>
            <div class="table-responsive">
              <table>
                <tbody>
                  <tr>
                    <th>Name</th>
                    <th>Account</th>
                    <th>Owner</th>
                    <th>CloseDate</th>
                    <th>StageName</th>
                    <th>Amount</th>
                  </tr>
                  <tr *ngFor="let hit of hits['Opportunity']">
                    <td>
                      <ais-highlight attribute="Name" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      <ais-highlight attribute="Account" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      <ais-highlight attribute="Owner" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      <ais-highlight attribute="CloseDate" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      <ais-highlight attribute="StageName" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      {{hit.Amount}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="hit" *ngIf="hits['Account']">
            <h2>Accounts</h2>
            <div class="table-responsive">
              <table>
                <tbody>
                  <tr>
                    <th>Name</th>
                    <th>Website</th>
                    <th>Owner</th>
                  </tr>
                  <tr *ngFor="let hit of hits['Account']">
                    <td>
                      <ais-highlight attribute="Name" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      <ais-highlight attribute="Website" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      <ais-highlight attribute="Owner" [hit]="hit">
                      </ais-highlight>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="hit" *ngIf="hits['Lead']">
            <h2>Leads</h2>
            <div class="table-responsive">
              <table>
                <tbody>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Owner</th>
                  </tr>
                  <tr *ngFor="let hit of hits['Lead']">
                    <td>
                      <ais-highlight attribute="Name" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      <ais-highlight attribute="Email" [hit]="hit">
                      </ais-highlight>
                    </td>
                    <td>
                      <ais-highlight attribute="Owner" [hit]="hit">
                      </ais-highlight>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </ais-hits>
    </div>
  </main>
</ais-instantsearch>
<footer>Source Code on
  <a href="#">GitHub</a> - Powered by
  <a href="https://www.algolia.com">Algolia</a>
</footer>
