@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  padding: 24px;
  font-size: 14px;
  line-height: 24px;
  overflow-y: scroll;
  display: flex;
  font-family: "Open Sans", sans-serif;
  background: #f0f2f5;
  flex-direction: column;
}

a {
  color: #5468ff;
}

em {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

.search-container {
  flex-grow: 1;
  display: flex;
  width: 960px;
  min-height: 100%;
  margin: 0 auto;
}

@media (max-width: 1007px) {
  .search-container {
    width: 100%;
  }
}

#categories,
#brands {
  margin-bottom: 24px;
}

#categories,
#brands,
#price {
  margin-right: 24px;
  padding: 8px 0;
}

#categories,
#brands,
#price,
.ais-hits--item,
.ais-search-box--input {
  height: auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.ais-search-box--input:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.left-panel {
  flex: 0 0 290px;
}

.right-panel {
  width: calc(100% - 306px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#searchbox {
  flex-grow: 0;
  margin-bottom: 8px;
}

#searchbox,
#stats {
  flex-grow: 0;
}

.ais-search-box {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.ais-search-box--magnifier,
.ais-search-box--reset {
  position: absolute;
  top: 0;
  left: inherit;
  margin: 14px 16px;
  cursor: pointer;
}

.ais-search-box--magnifier svg,
.ais-search-box--reset svg {
  width: 13px;
  height: 13px;
  display: block;
}

.ais-search-box--magnifier svg {
  fill: #5468ff;
}

.ais-search-box--reset svg {
  fill: #ed5a6a;
}

.ais-search-box--magnifier {
  right: 0;
}

.ais-search-box--reset {
  background: none;
  padding: 0;
  border: none;
  right: 30px;
}

.ais-search-box--input {
  width: 100%;
  padding: 8px 16px;
  font-weight: normal;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  appearance: none;
}

#stats {
  flex-grow: 0;
  margin-bottom: 16px;
}

.ais-stats {
  font-size: 12px;
  color: #697782;
  opacity: 1;
}

#hits {
  flex-grow: 1;
}

.ais-hits {
  display: flex;
  flex-wrap: wrap;
}

.ais-refinement-list--header,
.ais-range-slider--header {
  font-weight: bolder;
  margin: 0;
  padding: 0 16px 8px;
  font-size: inherit;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}

.ais-hits--item {
  margin-bottom: 24px;
}

.hit {
  display: flex;
  padding: 16px;
}

.hit-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hit-image {
  display: flex;
  margin-right: 24px;
}

.hit-image img {
  width: auto;
  max-height: 176px;
}

.hit-name {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 16px;
}

.hit-price {
  font-size: 16px;
}

.hit-description {
  color: rgb(153, 153, 153);
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 16px;
}

.ais-refinement-list--item {
  padding: 8px 16px;
}

.ais-refinement-list--label,
.ais-refinement-list--label:hover {
  color: black;
}

.ais-refinement-list--count {
  background: none;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  color: #999;
  float: right;
}

.ais-refinement-list--checkbox {
  margin: 0 5px 0 0;
}

.ais-refinement-list--item__active .ais-refinement-list--label,
.ais-refinement-list--item__active .ais-refinement-list--count {
  font-weight: normal;
}

.sbx-sffv {
  display: block;
  font-weight: normal;
  height: auto;
  border-bottom: 1px solid #eee;
}

.sbx-sffv__input:hover,
.sbx-sffv__input:active,
.sbx-sffv__input:focus {
  box-shadow: none;
}

.sbx-sffv svg,
.sbx-sffv svg use {
  fill: #848ab8;
  width: 8px;
  height: 8px;
}
.sbx-sffv__reset {
  top: 9px;
  right: 5px;
}

.sbx-sffv__input {
  border-radius: 4px;
  box-shadow: none;
  background: #fff;
  padding: 0;
  padding: 8px 16px 8px 24px;
  padding-left: 24px;
  width: 100%;
  height: auto;
  white-space: normal;
  font-size: inherit;
  display: block;
  -webkit-appearance: none;
  appearance: none;
}

.ais-range-slider--handle {
  width: 19px;
  height: 19px;
  border: solid 2px #5468ff;
}

.ais-range-slider .rheostat {
  margin: 32px 0;
}

.ais-range-slider .rheostat-horizontal .rheostat-handle {
  top: -6px;
}

.ais-range-slider .rheostat-horizontal .rheostat-progress {
  height: 5px;
  top: 1px;
  background: #5468ff;
}

.ais-range-slider--marker {
  display: none;
}

.ais-range-slider--body {
  padding: 0 11px 0 16px;
}

.ais-range-slider .rheostat-horizontal .rheostat-background {
  height: 3px;
  top: 2px;
  width: 100%;
  background-color: #ddd;
}

.ais-range-slider--tooltip {
  background: transparent;
}

.ais-pagination {
  display: flex;
  margin: 0 0 16px;
  padding: 0;
  background: none;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  box-shadow: none;
  flex-wrap: wrap;
}

.ais-pagination--item,
.ais-pagination--item__disabled {
  flex: 0 0 40px;
  width: auto;
  height: auto;
  margin: 4px;
  background-color: #5468ff;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  border-radius: 4px;
  transition: all 0.1s linear;
}

.ais-pagination--item__disabled {
  display: none;
}

.ais-pagination--item:hover,
.ais-pagination--item__active {
  background-color: #3a46a1;
}

.ais-pagination--item .ais-pagination--link,
.ais-pagination--item__disabled .ais-pagination--link {
  text-decoration: none;
  color: #fff;
  line-height: 32px;
}

footer {
  flex-grow: 0;
  text-align: center;
  font-size: 12px;
  color: #999;
}

/* Placeholders */

#searchbox:empty:before,
#hits:empty:before,
#categories:empty:before,
#stats:empty:before,
#pagination:empty:before,
#brands:empty:before,
#price:empty:before {
  display: block;
  color: #999;
  padding: 16px;
}

#searchbox:empty,
#hits:empty,
#categories:empty,
#stats:empty,
#pagination:empty,
#brands:empty,
#price:empty {
  padding: 0;
  background: none;
  border: dashed 3px #ddd;
  box-shadow: none;
  border-radius: 4px;
}

#searchbox:empty,
#hits:empty,
#categories:empty,
#brands:empty {
  margin-bottom: 24px;
}

#searchbox:empty:before {
  content: "Uncomment the searchBox widget to add a search bar.";
}

#hits:empty:before {
  content: "Uncomment the hits widget to add hits list.";
}

#stats:empty:before {
  content: "Uncomment the stats widget to add search stats.";
}

#categories:empty:before {
  content: "Uncomment the categories widget to add categories list.";
}

#pagination:empty:before {
  content: "Uncomment the pagination widget to add pagination.";
}

#brands:empty:before {
  content: "Uncomment the refinementList widget for brands to add brands list.";
}

#price:empty:before {
  content: "Uncomment the rangeSlider widget to add price range.";
}
